.budget-hero-section {
  min-height: 500px;
  padding: 40px;
}

  .budget-hero-section .budget-cta {
    margin-top: 40px;
    min-width: 120px;
  }

.budget-hero-logo {
  margin-top: 30px;
  width: 300px;
  height: 300px;
}

.budget-slogan {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin-top: 20px;
}

.budget-sub-slogan {
  margin-top: 24px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}

.budget-section {
  background: #EFEFEF;
  padding: 40px;
}

.budget-card {
  width: 100%;
  overflow: unset;
  margin-top: 30px;
}

  .budget-card .mdl-card__title {
    min-height: 90px;
  }

  .budget-card .mdl-card__title-text {
    margin: 0 auto;
  }

  .budget-card .material-icons {
    margin: 15px auto;
    color: #00695c !important;
    font-size: 2.5em;
  }

  .budget-card .mdl-card__supporting-text {
    padding: 0 16px 30px;
    color: black;
    font-size: 16px;
  }



.register-button {
  color: #00695c;
  padding: 5px 20px;
  min-width: 120px;
}

.budget-input {
  margin: 0 auto;
  width: 80%;
}
