<div class="budget-hero-section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="budget-slogan">
        Say 'Hi' to BudgetBuddy!
      </div>
      <div class="budget-sub-slogan">
        Keep your budget planning simple.
      </div>
      <a class="mdl-button mdl-js-button mdl-button--raised budget-cta"
         routerLink="/dashboard">
        Register
      </a>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center">
      <img src="../../../assets/budget-buddy-logo.png" class="budget-hero-logo" />
    </div>
  </div>
</div>
<div class="budget-section mdl-typography--text-center">
  <div class="budget-slogan">
    How does it work?
  </div>
  <div class="budget-sub-slogan">
    Check 3 simple steps below!
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
      <div class="budget-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Budgets</h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <i class="material-icons">account_balance_wallet</i>
        </div>
        <div class="mdl-card__supporting-text">
          Create your own budgets and share them with your family or friends.
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
      <div class="budget-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Incomes</h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <i class="material-icons">trending_up</i>
        </div>
        <div class="mdl-card__supporting-text">
          Add incomes to show how many money you earn.
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
      <div class="budget-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Expenses</h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <i class="material-icons">trending_down</i>
        </div>
        <div class="mdl-card__supporting-text">
          Add expenses to show how you can spend your money!
        </div>
      </div>
    </div>
  </div>
</div>
<div class="budget-section mdl-typography--text-center">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop mdl-cell--3-offset-desktop">
      <div class="budget-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Register</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div>
            Join BudgetBuddy now and start planning your financial stability!
          </div>
          <div class="budget-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="budget_email">
            <label class="mdl-textfield__label" for="budget_email">Email</label>
          </div>
          <div class="budget-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="budget_password">
            <label class="mdl-textfield__label" for="budget_password">Password</label>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="register-button mdl-button mdl-js-button mdl-js-ripple-effect" routerLink="/dashboard">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>

